<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" th:content="${SITE_CONFIG.SITE_PERSON_NAME}" />
    <title th:text="${SITE_CONFIG.SITE_NAME}"></title>
    <meta name="keywords" th:content="${SITE_CONFIG.SITE_KWD}">
    <meta name="description" th:content="${SITE_CONFIG.SITE_DESC}">
    <link rel="stylesheet" href="web/css/fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="web/css/bootstrap.css">
    <link rel="stylesheet" href="web/css/nav.css">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/libs/linecons/css/linecons.css}">
    [(${SITE_CONFIG?.STATISTICS_CODE})]
</head>
<script th:src="@{/assets/libs/jquery/jquery.min.js}"></script>
<body class="page-body">
    <!-- skin-white -->
    <div class="page-container">
        <sidebar th:replace="web/module/sidebar :: sidebar(${categories})"></sidebar>
        <div class="main-content">
            <nav th:replace="web/module/navbar :: navbar"></nav>
            <div th:replace="web/module/bulletinbox"></div>
            <div th:replace="web/module/searchbox"></div>
            <div class="sites-list" style="margin-bottom: 8.5rem;">
            <th:block th:each="category: ${categories}">
                <h4 class="text-gray"><i th:class="${category?.icon==null?'linecons-tag':category?.icon}" style="margin-right: 7px;" th:id="${category.name}"></i>[[${category.name}]]</h4>
                <div class="row">
                    <th:block th:if="${#lists.isEmpty(category.children)}" >
                        <th:block th:if="${not #lists.isEmpty(category.links)}" >
                            <div class="xe-card col-sm-4 col-md-3 col-lg-3" th:each="link:${category?.links}">
                                <a th:href="${link?.url}" target="_blank" class="xe-widget xe-conversations box2 label-info" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="全球UI设计师作品分享平台。">
                                    <div class="xe-comment-entry">
                                        <div class="xe-user-img">
                                            <img class="img-circle lazy" th:src="${link.img.base64}" th:data-src="${link.img.base64}"  width="40">
                                        </div>
                                        <div class="xe-comment">
                                            <div class="xe-user-name overflowClip_1">
                                                <strong th:text="${link.name}"></strong>
                                            </div>
                                            <p class="overflowClip_2" th:text="${link.description}"</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </th:block>
                    </th:block>
                    <th:block th:if="${not #lists.isEmpty(category.children)}" >
                        <ul class="nav nav-tabs" id="myTab2" role="tablist">
                            <li th:class="${stat.index==0? 'nav-item active' : 'nav-item'}" th:each="cate,stat: ${category.children}">
                                <a class="nav-link" id="home-tab2" data-toggle="tab" th:href="${'#'+cate.name}" >[[${cate.name}]]</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <th:block th:each="cate,stat: ${category.children}">
                                <div th:class="${stat.index==0 ? 'tab-pane fade active in' : 'tab-pane fade'}" th:id="${cate.name}" role="tabpanel">
                                <th:block th:if="${not #lists.isEmpty(cate.links)}" >
                                    <div class="col-sm-3" th:each="link:${cate?.links}">
                                        <div class="xe-widget xe-conversations box2 label-info" th:onclick="window.open([[${link.url}]], '_blank')" data-toggle="tooltip" data-placement="bottom" title="" th:data-original-title="${link.url}">
                                            <div class="xe-comment-entry">
                                                <a class="xe-user-img">
                                                    <img th:src="${link.img.base64}" class="img-circle" width="40">
                                                </a>
                                                <div class="xe-comment">
                                                    <a href="#" class="xe-user-name overflowClip_1">
                                                        <strong th:text="${link.name}"></strong>
                                                    </a>
                                                    <p class="overflowClip_2"  th:text="${link.description}"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                                </div>
                            </th:block>
                        </div>
                    </th:block>
                </div>
                <br />
            </th:block>
              <div th:replace="web/module/friendlink"></div>
            </div>
            <footer th:replace="web/module/footer :: footer(${SITE_CONFIG})"></footer>
        </div>
    </div>
    <!-- 锚点平滑移动 -->
    <script type="text/javascript">
    $(document).ready(function() {
        $(document).on('click', '.has-sub', function(){
            var _this = $(this)
            if(!$(this).hasClass('expanded')) {
               setTimeout(function(){
                    _this.find('ul').attr("style","")
               }, 300);
            } else {
                $('.has-sub ul').each(function(id,ele){
                    var _that = $(this)
                    if(_this.find('ul')[0] != ele) {
                        setTimeout(function(){
                            _that.attr("style","")
                        }, 300);
                    }
                })
            }
        })
        $('.user-info-menu .hidden-sm').click(function(){
            if($('.sidebar-menu').hasClass('collapsed')) {
                $('.has-sub.expanded > ul').attr("style","")
            } else {
                $('.has-sub.expanded > ul').show()
            }
        })
        $("#main-menu li ul li").click(function() {
            $(this).siblings('li').removeClass('active'); // 删除其他兄弟元素的样式
            $(this).addClass('active'); // 添加当前元素的样式
        });
        $("a.smooth").click(function(ev) {
            ev.preventDefault();
            public_vars.$mainMenu.add(public_vars.$sidebarProfile).toggleClass('mobile-is-visible');
            ps_destroy();
            const href=$(this).attr("href");
            const hrefOffset = $(href).offset();
            if (typeof(hrefOffset) === "undefined"){
                console.log(hrefOffset);
            }else {
                $("html, body").animate({
                    scrollTop: hrefOffset.top - 30
                }, {
                    duration: 500,
                    easing: "swing"
                });
            }
        });
        return false;
    });
    </script>
    <!-- Bottom Scripts -->
    <script src="web/js/bootstrap.min.js"></script>
    <script src="web/js/TweenMax.min.js"></script>
</body>

</html>
