<div th:if="${cate?.type==1}"  th:each="cate,stat:${category?.children}"  th:id="${'tab-'+category?.id+'-'+cate?.id}" th:class="'tab-pane'+${stat.index==0? ' active' : ''}">
    <div class="row io-mx-n2 mt-4 ajax-list-body position-relative">
        <div style="height: 85px" th:class="'url-card io-px-2  ' +${stat.index==0&&stat.size%2!=0?'col-1a col-sm-1a col-md-1a col-lg-1a':'col-2a col-sm-2a col-md-2a col-lg-2a'}+ ' col-xl-4a col-xxl-5a'"  th:each="website,stat:${cate?.websites}">
            <div class="url-body default ">
                <a th:href="${'/link?target='+website?.url}"  target="_blank"  th:data-id="${website?.id}" th:data-url="${website?.url}" th:class="${'card no-c  mb-4 site-'+website?.id}" data-toggle="tooltip" data-placement="bottom"  th:title="${website?.description}">
                    <div class="card-body url-content d-flex align-items-center">
                        <div class="url-img rounded-circle mr-2 d-flex align-items-center justify-content-center">
                            <img class="lazy unfancybox" th:src="${website?.img?.base64}" th:data-src="${website?.img?.base64}"  height="auto" width="auto"  th:alt="${website?.name}">
                        </div>
                        <div class="url-info flex-fill">
                            <div class="text-sm overflowClip_1">
                                <span th:if="${website?.flag!=null}" class="badge vc-red text-ss mr-1" th:title="${website?.flag}">[[${website?.flag}]]</span>
                                <strong>[[${website?.name}]]</strong>
                            </div>
                            <p class="overflowClip_1 m-0 text-muted text-xs">[[${website?.description}]]</p>
                        </div>
                    </div>
                </a>
<!--                <a th:href="${website?.url}" target="_blank" rel="external nofollow" title="直达" class="togo text-center text-muted is-views" th:data-id="${website?.id}" data-toggle="tooltip" data-placement="right"><i class="iconfont icon-goto icon-lg"></i></a>-->
            </div>
        </div>
        <div th:if="${#lists.isEmpty(cate?.websites)}" class="col-lg-12 customize_nothing"><div class="nothing mb-4"><i class="iconfont icon-loading icon-spin mr-2"></i>加载中...</div></div>
    </div>
</div>