<div class="row">
    <div class="colxl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-title-wrapper">
            <div class="page-title-box">
                <h4 class="page-title bold">公告管理</h4>
            </div>
            <div class="breadcrumb-list">
                <ul>
                    <li class="breadcrumb-link"><a th:href="@{admin}"><i class="fas fa-home mr-2"></i>首页</a></li>
                    <li class="breadcrumb-link active">公告管理</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Main content -->
<section class="content">
    <div class="card card-info card-header">
            <form id="searchForm" class="needs-validation form-inline">
                <div class="form-group">
                    <label for="title">标题:</label>
                    <input type="text" class="form-control m-2" id="title">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary ml-3" type="submit">查询</button>
                    <button class="btn btn-light ml-2" type="reset">重置</button>
                </div>
            </form>
    </div>
    <div class="card table-card card-body">
        <div id="toolbar" class="btn-group">
                <button id="btn_add" type="button" class="btn btn-primary">
                    <span class="fa fa-plus" aria-hidden="true"></span>新增
                </button>
                <button id="btn_batch_delete" type="button" class="btn btn-danger">
                    <span class="fa fa-trash" aria-hidden="true"></span>批量删除
                </button>
        </div>
        <table class="table-sm" id="table"></table>
    </div>
</section>

<script>
    $(function () {
        window.operateEvents = {
            // 点击编辑
            'click .btn_edit': function (e, value, row, index) {
                editRow(row.id)
            },
            // 点击删除
            'click .btn_del': function (e, value, row, index) {
                deleteRow(row.id)
            }
        }
        var columns = [
            {checkbox: true},
            {
                field: 'title',
                title: '标题',
                align: "center"
            },
            {
                field: 'createTime',
                title: '创建日期',
                align: "center",
                formatter: function (value, row, index) {
                    return new Date(value).Format('yyyy-MM-dd');
                }
            },
            {
                field: 'endTime',
                title: '结束日期',
                align: "center",
                formatter: function (value, row, index) {
                    return new Date(value).Format('yyyy-MM-dd');
                }
            },
            {
                field: 'status',
                title: '状态',
                align: "center",
                formatter: function (value, row, index) {
                    return row.status ? "启用" : "禁用";
                }
            },
            {
                field: 'operation',
                title: '操作',
                align: "center",
                width: 200,
                events: operateEvents,
                formatter: operationFormatter
            }];

        function operationFormatter(value, row, index) {
            var edit = '<button class="effect-btn btn btn-info mt-2 mr-2 icon-lg btn_edit"><i class="fas fa-edit"></i></button>';
            var del = '<button class="effect-btn btn btn-danger mt-2 mr-2 icon-lg btn_del"><i class="fas fa-trash-alt"></i></button>';
            return edit + del;
        }

        var options = {
            id: "#table",
            url: '/notice/page',
            columns: columns,
            toolbar: '#toolbar',
            showRefresh: true,
            queryParams: queryParams
        }
        Core.initTable(options);

        function refreshTable() {
            Core.refreshTable("#table")
        }

        // 查询参数
        function queryParams(params) {
            return {
                pageNumber: params.pageNumber,
                pageSize: params.pageSize,
                title: $("#title").val()
            };
        }

        // 查询
        $('#searchForm').submit(function (event) {
            event.preventDefault();
            event.stopPropagation();
            refreshTable();
        })

        // 新增
        $('#btn_add').on('click', function () {
            window.location.href = "#notice/add"
        })

        // 编辑
        function editRow(id) {
            window.location.href = "#notice/edit?id=" + id
        }

        // 删除
        function deleteRow(id) {
            Core.confirm("确定删除？", function () {
                Core.postAjax("/user/delete", {"id": id}, function (data) {
                    if (data.status === 200) {
                        refreshTable();
                    }
                    layer.msg(data.msg);
                })
            })
        }

        // 批量删除
        $("#btn_batch_delete").on('click', function () {
            var checkedRows = Core.selectMutiData("#table");
            if (checkedRows) {
                Core.confirm("确定删除选中的" + checkedRows.length + "条记录？", function () {
                    var ids = [];
                    $.each(checkedRows, function (i, item) {
                        ids.push(item.id);
                    })
                    var jsonStr = JSON.stringify(ids);
                    Core.postAjax("/user/batch/delete", jsonStr, function (data) {
                        if (data.status === 200) {
                            refreshTable();
                        }
                        layer.msg(data.msg);
                    }, function (err) {
                        layer.msg(err)
                    }, "POST", "application/json; charset=UTF-8")
                })
            }
        })

        // 保存或更新
        $('#saveOrUpdateBtn').on('click', function () {
            var $f = $('#userForm');
            var valid = $f[0].checkValidity();
            var url = $f.find("input[name='id']").val() ? "/user/edit" : "/user/add"
            if (valid) {
                Core.mask("#saveOrUpdateBtn");
                Core.postAjax(url, $f.serialize(), function (data) {
                    Core.unmask("#saveOrUpdateBtn");
                    if (data.status === 200) {
                        $("#formModal").modal("hide");
                        refreshTable();
                    }
                    layer.msg(data.msg);
                }, function () {
                    Core.unmask("#saveOrUpdateBtn");
                })
            }
            $f.addClass("was-validated")
        })

        var selectRoleIds;
        var userIdChecked;
        var loadRoleCount = 0;

        // 分配角色
        function assignRole(id) {
            userIdChecked = id;
            if (loadRoleCount === 0) {
                var roleColumns = [
                    {checkbox: true},
                    {
                        field: 'name',
                        title: '角色名称',
                        align: "center"
                    }, {
                        field: 'description',
                        title: '角色描述',
                        align: "center"
                    },
                    {
                        field: 'status',
                        title: '角色状态',
                        align: "center",
                        formatter: function (value, row, index) {
                            return row.status ? "有效" : "删除";
                        }
                    }];
                var roleOptions = {
                    id: "#assignRoleTable",
                    url: "/user/assign/role/list",
                    columns: roleColumns,
                    pagination: false,
                    queryParams: {
                        id: id
                    },
                    onLoadSuccess: function () {
                        loadRoleCount = 1;
                        Core.checkTableBy("#assignRoleTable", {field: "id", values: selectRoleIds+''});
                    },
                    responseHandler: handleRoleData,
                }
                Core.initTable(roleOptions);
            }
            if (loadRoleCount === 1) {
                Core.refreshTable("#assignRoleTable");
            }
            $("#assignRoleModal").modal("show");
        }

        function handleRoleData(res) {
            selectRoleIds = res.hasRoles;
            return res.rows;
        }

        $('#assignRoleSaveOrUpdateBtn').on('click', function () {
            var checkedRows = Core.selectMutiData("#assignRoleTable");
            if (checkedRows) {
                Core.mask("#assignRoleSaveOrUpdateBtn");
                roleIdStr = "";
                $.each(checkedRows, function (i, item) {
                    roleIdStr += (item.id + ",");
                })
                roleIdStr = roleIdStr.substring(0, roleIdStr.length - 1);
                Core.postAjax('/user/assign/role', {id: userIdChecked, roleIdStr: roleIdStr}, function (data) {
                    Core.unmask("#assignRoleSaveOrUpdateBtn");
                    if (data.status === 200) {
                        $("#assignRoleModal").modal("hide");
                        Core.refreshTable("#table");
                    }
                    layer.msg(data.msg);
                }, function (xhr) {
                    Core.unmask("#assignPermissionSaveOrUpdateBtn");
                    console.log(xhr)
                    layer.msg('保存失败')
                })
            }
        })

    });

</script>