<form id="themeForm">
    <div id="container">
        <div id="uploader">
            <div class="queueList">
                <div class="placeholder" id="dndArea">
                    <div id="filePicker"></div>
                    <p>点击选择需要导入的文件，或将文件拖拽到此处</p>
                    <p>仅支持.sql格式的文件</p>
                </div>
            </div>
            <!-- <div class="statusBar" style="display:none;">
                 <div class="progress">
                     <span class="text">0%</span>
                     <span class="percentage"></span>
                 </div>
                 <div class="info"></div>
                 <div class="btns">
                     <div id="filePicker2"></div>
                     <div class="uploadBtn">开始上传</div>
                 </div>
             </div>-->
        </div>
    </div>
</form>