<!--<form id="linkForm">
    <input name="id" type="hidden" th:value="${link?.id}">
    <input name="origin" type="hidden" value="1">
    <div class="form-group row">
        <label for="name" class="col-sm-3 col-form-label">站点名称:</label>
        <div class="col-sm-9">
            <input type="text" th:value="${link?.name}" name="name" class="form-control" id="name"
                   placeholder="填写站点名称" required>
            <div class="invalid-feedback">请填写站点名称</div>
        </div>
    </div>
    <div class="form-group row">
        <label for="url" class="col-sm-3 col-form-label">站点链接:</label>
        <div class="col-sm-9">
            <input type="text" th:value="${link?.url}" name="url" class="form-control"
                   id="url"
                   placeholder="填写站点链接" required>
            <div class="invalid-feedback">请填写站点链接</div>
        </div>
    </div>
    <div class="form-group row">
        <label for="description" class="col-sm-3 col-form-label">站点描述:</label>
        <div class="col-sm-9">
            <input type="text" th:value="${link?.description}" name="description" class="form-control"
                   id="description"
                   placeholder="填写站点描述" >
        </div>
    </div>
    <div class="form-group row">
        <label for="img" class="col-sm-3 col-form-label">站长图片:</label>
        <div class="upload-content">
            <div class="content-img">
                <ul id="fileList" class="content-img-list">
                    <block th:if="${article?.coverImage!=null}">
                        <li class="content-img-list-item"><img th:src="${article?.coverImage}">
                            <div class="hide"><button class="btn-outline secondary-outline mt-2 mr-2 icon-sm"><i class="fas fa-trash-alt"></i></button></div>
                        </li>
                    </block>
                </ul>
                <div class="file"  id="filePicker">
                    <i class="fa fa-plus"></i>
                    <input type="text" th:value="${link?.img}" name="img" class="form-control" id="img" placeholder="填写站长图片" >
                </div>
            </div>
        </div>
      &lt;!&ndash;  <div class="col-sm-9">
            <input type="text" th:value="${link?.img}" name="img" class="form-control"
                   id="img"
                   placeholder="填写站长图片" >
        </div>&ndash;&gt;
    </div>
    <div class="form-group row">
        <label for="email" class="col-sm-3 col-form-label">站长邮箱:</label>
        <div class="col-sm-9">
            <input type="text" th:value="${link?.email}" name="email" class="form-control"
                   id="email" placeholder="填写站长邮箱">
        </div>
    </div>
    <div class="form-group row">
        <label for="qq" class="col-sm-3 col-form-label">站长QQ:</label>
        <div class="col-sm-9">
            <input type="text" th:value="${link?.qq}" name="qq" class="form-control"
                   id="qq" placeholder="填写站长QQ">
        </div>
    </div>
    <div class="form-group row">
        <label for="remark" class="col-sm-3 col-form-label">备注:</label>
        <div class="col-sm-9">
            <input type="text" th:value="${link?.remark}" name="remark" class="form-control"
                   id="remark" placeholder="填写备注">
        </div>
    </div>
    <input  name="status" type="hidden" th:value="${link?.status}">
&lt;!&ndash;    <div class="form-group row">
        <label for="linkStatus" class="col-sm-3 col-form-label">状态:</label>
        <div class="col-sm-9" align="left">
            <input  id="linkStatus" name="status" type="checkbox" th:checked="${link?.status == 1}" value="1">
            <input  id="linkStatus_0" name="status" type="hidden" th:checked="${link?.status == 0}" value="0">
        </div>
    </div>&ndash;&gt;
</form>-->
<form id="categoryLinkForm">
<div class="card table-card card-body">
    <div id="toolbar" class="btn-group">
        <button id="btn_add" type="button" class="btn btn-primary">
            <span class="fa fa-plus" aria-hidden="true"></span>新增
        </button>
        <button id="btn_batch_delete" type="button" class="btn btn-danger">
            <span class="fa fa-trash" aria-hidden="true"></span>批量删除
        </button>
    </div>
    <table class="table-sm" id="table"></table>
</div>
</form>
<script>
    var categoryId=[[${categoryId}]]
    $(function () {
        var editFlag = "[[${@perms.hasPerm('link:edit')}]]";
        var deleteFlag = "[[${@perms.hasPerm('link:delete')}]]";
        window.operateEvents = {
            // 点击编辑
            'click .btn_edit': function (e, value, row, index) {
                editRow(row.id)
            },
            // 点击删除
            'click .btn_del': function (e, value, row, index) {
                deleteRow(row.id)
            },
            // 点击预览
            'click .btn_view': function (e, value, row, index) {
                previewImg(value)
            }
        }
        var columns = [
            {checkbox: true},
            {
                field: 'name',
                title: '站点名称',
                align: "center"
            }, {
                field: 'url',
                title: '站点链接',
                align: "center",
            }, {
                field: 'description',
                title: '站点描述',
                align: "center",
            }, {
                field: 'img',
                title: '站长图片',
                align: "center",
                class: "link-pre",
                events: operateEvents,
                formatter: function (value, row, index) {
                    return '<img src="' + value + '" style="width: 100px" class="btn_view" referrerPolicy="no-referrer" />'
                }
            },{
                field: 'email',
                title: '站长邮箱',
                align : "center",
            },{
                field: 'qq',
                title: '站长QQ',
                align : "center",
            }];
        var onLoadSuccess=function () {	//在成功加载远程数据时触发
            $("[name='switch']").bootstrapSwitch({
                onText : "启用",      // 设置ON文本
                offText : "禁用",    // 设置OFF文本
                onColor : "success",// 设置ON文本颜色(info/success/warning/danger/primary)
                offColor : "warning",  // 设置OFF文本颜色 (info/success/warning/danger/primary)
                size : "small",    // 设置控件大小,从小到大  (mini/small/normal/large)
                // 当开关状态改变时触发
                onSwitchChange : function(event, state) {
                    var status=state?1:0;
                    var params={id:this.value,status:status};
                    var str = jQuery.param(params);
                    Core.postAjax('/link/edit', str, function (data) {
                        if (data.status === 200) {
                            refreshTable();
                        }
                        layer.msg(data.msg);
                    })
                }
            });
        };
        //表格中开关控件
        function typeSwitch(value, row, index){
            if (value) {
                return "<input value=" + row.id + " name='switch' type='checkbox' checked />";
            } else {
                return "<input value=" + row.id + " name='switch' type='checkbox' />";
            }
        }

        var options = {
            id: "#table",
            url: '/categoryLink/list/'+categoryId,
            columns: columns,
            toolbar: '#toolbar',
            showRefresh: true,
            onLoadSuccess:onLoadSuccess,
            queryParams: queryParams
        }
        Core.initTable(options);

        function refreshTable() {
            Core.refreshTable("#table")
        }

        // 查询参数
        function queryParams(params) {
            return {
                pageNumber: params.pageNumber,
                pageSize: params.pageSize
            };
        }

        // 查询
        $('#searchForm').submit(function (event) {
            event.preventDefault();
            event.stopPropagation();
            refreshTable();
        })

        // 新增
        $('#btn_add').on('click', function () {
            Core.load("#formContent", "/categoryLink/add", function () {
                $('#formTitle').text('新增')
                $("#formModal").modal('show');
            });
        })
        //只是在点击后初始化的时候生成
        $("#formModal").on("shown.bs.modal", function () {
            // 初始化Web Uploader
            var uploader = WebUploader.create({
                // 选完文件后，是否自动上传。
                auto: true,
                // swf文件路径
                swf: '/admin1/img/Uploader.swf',
                // 文件接收服务端。
                server: '[[@{/attachment/upload}]]',
                // 选择文件的按钮。可选。
                // 内部根据当前运行是创建，可能是input元素，也可能是flash.
                pick: '#filePicker',
                // 只允许选择图片文件。
                accept: {
                    title: 'Images',
                    extensions: 'gif,jpg,jpeg,bmp,png',
                    mimeTypes: 'image/*'
                }
            });
            // 文件上传成功，给item添加成功class, 用样式标记上传成功。
            var  $list=$('#fileList');
            uploader.on( 'uploadSuccess', function( file,data ) {
                var $li = $(
                    '<li class="content-img-list-item"><img src="' + data.url + '" >' +
                    '<div ><button class="btn-outline secondary-outline mt-2 mr-2 icon-sm"><i class="fas fa-trash-alt"></i></button></div></i>'
                );
                $list.append( $li );
                $("#img").val(data.url);
                $('.content-img .file').hide();
            });
            // 文件上传失败，显示上传出错。
            uploader.on( 'uploadError', function( file ) {
                console.log('上传失败');
            });
            // 鼠标经过显示删除按钮
            $('.content-img-list').on('mouseover', '.content-img-list-item', function() {
                $(this).children('div').removeClass('hide');
            });
            // 鼠标离开隐藏删除按钮
            $('.content-img-list').on('mouseleave', '.content-img-list-item', function() {
                $(this).children('div').addClass('hide');
            });
            // 单个图片删除
            $(".content-img-list").on("click", '.content-img-list-item button .fa-trash-alt', function() {
                $(this).parent().parent().parent().remove();
                $('.content-img .file').show();
            });
        })

        // 编辑
        function editRow(id) {
            Core.load("#formContent", "/link/edit?id=" + id, function () {
                $('#formTitle').text('编辑')
                $("#formModal").modal('show');
            });
        }

        // 删除
        function deleteRow(id) {
            Core.confirm("确定删除？", function () {
                Core.postAjax("/link/delete", {"id": id}, function (data) {
                    if (data.status === 200) {
                        refreshTable();
                    }
                    layer.msg(data.msg);
                })
            })
        }

        // 批量删除
        $("#btn_batch_delete").on('click', function () {
            var checkedRows = Core.selectMutiData("#table");
            if (checkedRows) {
                Core.confirm("确定删除选中的" + checkedRows.length + "条记录？", function () {
                    var ids = [];
                    $.each(checkedRows, function (i, item) {
                        ids.push(item.id);
                    })
                    var jsonStr = JSON.stringify(ids);
                    Core.postAjax("/link/batch/delete", jsonStr, function (data) {
                        if (data.status === 200) {
                            refreshTable();
                        }
                        layer.msg(data.msg);
                    },function (err) {
                        layer.msg(err)
                    }, "POST", "application/json; charset=UTF-8")
                })
            }
        })

        // 保存或更新
        $('#saveOrUpdateBtn').on('click', function () {
            var $f = $('#linkForm');
            var valid = $f[0].checkValidity();
            var url = $f.find("input[name='id']").val() ? "/link/edit" : "/link/add"
            if (valid) {
                Core.mask("#saveOrUpdateBtn");
                Core.postAjax(url, $f.serialize(), function (data) {
                    Core.unmask("#saveOrUpdateBtn");
                    if (data.status === 200) {
                        $("#formModal").modal("hide");
                        refreshTable();
                    }
                    layer.msg(data.msg);
                }, function () {
                    Core.unmask("#saveOrUpdateBtn");
                })
            }
            $f.addClass("was-validated")
        })

    });

    function previewImg(src) {
        layer.open({
            type: 1,
            title: false,
            closeBtn: 0,
            area: '45%',
            skin: 'layui-layer-nobg', //没有背景色
            shadeClose: true,
            content: '<img style="width: 100%" alt="link" src="' + src + '">'
        });
    }

</script>

