
<form id="linkForm">
<!-- Main content -->
<div class="row">
<!--    <div class="card card-info card-header">
        <form id="searchForm" class="needs-validation form-inline" novalidate="">
            <div class="form-group">
                <label for="name">站点名称:</label>
                <input type="text" class="form-control m-2" id="name" required="">
            </div>
            <div class="form-group">
                <label for="url">站点链接:</label>
                <input type="text" class="form-control m-2" id="url" required="">
            </div>
            <div class="form-group">
                <button class="btn btn-primary ml-3" type="submit">查询</button>
                <button class="btn btn-light ml-2" type="reset">重置</button>
            </div>
        </form>
    </div>
    <div class="card table-card card-body">
&lt;!&ndash;        <div id="toolbar" class="btn-group">
                <button id="btn_batch_add" type="button" class="btn btn-primary">
                    <span class="fa fa-plus" aria-hidden="true"></span>批量加入
                </button>
            <button id="btn_back" type="button" class="btn btn-warning">
                <span class="fa fa-backward" aria-hidden="true"></span>返回
            </button>
        </div>&ndash;&gt;
        <table class="table-sm" id="table"></table>
    </div>-->
    <div class="card table-card card-body">
          <div id="toolbar" class="btn-group">
        <button id="btn_batch_add" type="button" class="btn btn-primary">
            <span class="fa fa-plus" aria-hidden="true"></span>批量加入
        </button>
        <button id="btn_back" type="button" class="btn btn-warning">
            <span class="fa fa-backward" aria-hidden="true"></span>返回
        </button>
    </div>
        <table class="table-sm" id="table"></table>
    </div>
</div>
</form>
<script>
    var categoryId=[[${categoryId}]]
    $(function () {
        window.operateEvents = {
            // 点击编辑
            'click .btn_edit': function (e, value, row, index) {
                editRow(row.id)
            },
            // 点击删除
            'click .btn_del': function (e, value, row, index) {
                deleteRow(row.id)
            },
            // 点击预览
            'click .btn_view': function (e, value, row, index) {
                previewImg(value)
            }
        }
        var columns = [
            {checkbox: true},
            {
                field: 'name',
                title: '站点名称',
                align: "center"
            }, {
                field: 'url',
                title: '站点链接',
                align: "center",
            }, {
                field: 'description',
                title: '站点描述',
                align: "center",
            }, {
                field: 'img.base64',
                title: '网站logo',
                align: "center",
                class: "link-pre",
                events: operateEvents,
                formatter: function (value, row, index) {
                    return '<img src="' + value + '" style="width: 100px" class="btn_view" referrerPolicy="no-referrer" />'
                }
            },{
                field: 'email',
                title: '站长邮箱',
                align : "center",
            },{
                field: 'qq',
                title: '站长QQ',
                align : "center",
            }];
        var onLoadSuccess=function () {	//在成功加载远程数据时触发
            $("[name='switch']").bootstrapSwitch({
                onText : "启用",      // 设置ON文本
                offText : "禁用",    // 设置OFF文本
                onColor : "success",// 设置ON文本颜色(info/success/warning/danger/primary)
                offColor : "warning",  // 设置OFF文本颜色 (info/success/warning/danger/primary)
                size : "small",    // 设置控件大小,从小到大  (mini/small/normal/large)
                // 当开关状态改变时触发
                onSwitchChange : function(event, state) {
                    var status=state?1:0;
                    var params={id:this.value,status:status};
                    var str = jQuery.param(params);
                    Core.postAjax('/link/edit', str, function (data) {
                        if (data.status === 200) {
                            refreshTable();
                        }
                        layer.msg(data.msg);
                    })
                }
            });
        };

        var options = {
            id: "#table",
            url: '/categoryLink/addPage/'+categoryId,
            columns: columns,
            toolbar: '#toolbar',
            showRefresh: true,
            onLoadSuccess:onLoadSuccess,
            queryParams: queryParams
        }
        Core.initTable(options);

        function refreshTable() {
            Core.refreshTable("#table")
        }

        // 查询参数
        function queryParams(params) {
            return {
                pageNumber: params.pageNumber,
                pageSize: params.pageSize
            };
        }

     /*   // 返回
        $('#btn_back').on('click', function () {
            window.location.href = (ctx + "#categories/"+categoryId).replace('//', '/');
        })*/

        // 查询
        $('#searchForm').submit(function (event) {
            event.preventDefault();
            event.stopPropagation();
            refreshTable();
        })

        // 批量添加
        $("#btn_batch_add").on('click', function () {
            var checkedRows = Core.selectMutiData("#table");
            if (checkedRows) {
                Core.confirm("确定加入选中的" + checkedRows.length + "条记录？", function () {
                    var ids = [];
                    $.each(checkedRows, function (i, item) {
                        ids.push(item.id);
                    })
                    var jsonStr = JSON.stringify(ids);
                    Core.postAjax("/categoryLink/add/"+categoryId, jsonStr, function (data) {
                        if (data.status === 200) {
                            refreshTable();
                        }
                        layer.msg(data.msg);
                    },function (err) {
                        layer.msg(err)
                    }, "POST", "application/json; charset=UTF-8")
                })
            }
        })

    });

    function previewImg(src) {
        layer.open({
            type: 1,
            title: false,
            closeBtn: 0,
            area: '45%',
            skin: 'layui-layer-nobg', //没有背景色
            shadeClose: true,
            content: '<img style="width: 100%" alt="link" src="' + src + '">'
        });
    }

</script>