<div class="row">
    <div class="colxl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-title-wrapper">
            <div class="page-title-box">
                <h4 class="page-title bold">存储配置</h4>
            </div>
            <div class="breadcrumb-list">
                <ul>
                    <li class="breadcrumb-link"><a th:href="@{admin}"><i class="fas fa-home mr-2"></i>首页</a></li>
                    <li class="breadcrumb-link active">上传管理</li>
                    <li class="breadcrumb-link active">存储配置</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Main content -->
<section class="content">
    <div class="card card-body">
      <div class="box box-primary">
        <div class="box-body">
            <form class="form-horizontal" id="cloudConfigForm">
                <div class="form-group">
                    <label class="col-sm-3 control-label">类型 :</label>
                    <div class="btn-group col-sm-8" id="oss-type">
                        <label class="radio-inline pr-5 oss-type-radio"><input type="radio" th:field="*{cloudStorageConfig.type}" name="type" value="1" > 七牛云</label>
                        <label class="radio-inline pr-5 oss-type-radio"><input type="radio" th:field="*{cloudStorageConfig.type}" name="type" value="2" > 阿里云</label>
                        <label class="radio-inline pr-5 oss-type-radio"><input type="radio" th:field="*{cloudStorageConfig.type}" name="type" value="4"> 本地</label>
                    </div>
                </div>
                <div id="oss-type-form-group">
                    <div id="oss-type-1">
      <!--                  <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <p class="form-control-static"><a href="https://portal.qiniu.com/signup" target="_blank">免费申请(七牛云)10GB储存空间</a></p>
                            </div>
                        </div>-->
                        <div class="form-group">
                            <label class="col-sm-3 control-label">域名 :</label>
                            <div class="col-sm-8 col-md-6">
                                <input type="text" class="form-control" th:value="${cloudStorageConfig.qiniuDomain}" name="qiniuDomain" require="必填项" domain=""  placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">前缀 :</label>
                            <div class="col-sm-8 col-md-6">
                                <input type="text" class="form-control" th:value="${cloudStorageConfig.qiniuPrefix}" name="qiniuPrefix"  placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">AccessKey :</label>
                            <div class="col-sm-8 col-md-6">
                                <input type="text" class="form-control" th:value="${cloudStorageConfig.qiniuAccessKey}" name="qiniuAccessKey" require="必填项"  placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">SecretKey :</label>
                            <div class="col-sm-8 col-md-6">
                                <input type="text" class="form-control" th:value="${cloudStorageConfig.qiniuSecretKey}" name="qiniuSecretKey" require="必填项"  placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">空间名 :</label>
                            <div class="col-sm-8 col-md-6">
                                <input type="text" class="form-control" th:value="${cloudStorageConfig.qiniuBucketName}" name="qiniuBucketName" require="必填项"  placeholder="">
                            </div>
                        </div>
                    </div>
                    <div id="oss-type-2">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">域名 :</label>
                            <div class="col-sm-8 col-md-6">
                                <input type="text" class="form-control" th:value="${cloudStorageConfig.aliyunDomain}" name="aliyunDomain" require="必填项" domain=""  placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">前缀 :</label>
                            <div class="col-sm-8 col-md-6">
                                <input type="text" class="form-control" th:value="${cloudStorageConfig.aliyunPrefix}" name="aliyunPrefix"  placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">EndPoint :</label>
                            <div class="col-sm-8 col-md-6">
                                <input type="text" class="form-control" th:value="${cloudStorageConfig.aliyunEndPoint}" name="aliyunEndPoint" require="必填项"  placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">AccessKeyId :</label>
                            <div class="col-sm-8 col-md-6">
                                <input type="text" class="form-control" th:value="${cloudStorageConfig.aliyunAccessKeyId}" name="aliyunAccessKeyId" require="必填项"  placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">AccessKeySecret :</label>
                            <div class="col-sm-8 col-md-6">
                                <input type="text" class="form-control" th:value="${cloudStorageConfig.aliyunAccessKeySecret}" name="aliyunAccessKeySecret" require="必填项"  placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">空间名 :</label>
                            <div class="col-sm-8 col-md-6">
                                <input type="text" class="form-control" th:value="${cloudStorageConfig.aliyunBucketName}" name="aliyunBucketName" require="必填项"  placeholder="">
                            </div>
                        </div>
                    </div>
                    <div id="oss-type-4">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">已开启本地默认配置</label>
                        </div>
                    </div>
                </div>

                <shiro:hasPermission name="upload:saveConfig">
                <div class="form-group">
                    <div class="col-sm-8  col-sm-offset-3">
                        <button id="saveConfig" type="button" class="btn btn-info">保存</button>
                    </div>
                </div>
                </shiro:hasPermission>
                <!-- /.box-footer -->
            </form>
        </div>
    </div>
    </div>
</section>
<script type="text/javascript">
    $(function () {

        var menuType = $('input:radio[name="type"]:checked').val();
        $('#oss-type-' + menuType).show().siblings().hide();

        $('input[type=radio][name=type]').change(function () {
            $('#oss-type-' + this.value).show().siblings().hide();
        });


        $("#saveConfig").on('click', function () {
            Core.mask("#saveConfig");
            Core.postAjax("/attachment/saveConfig",$("#cloudConfigForm").serialize(),function (data) {
                Core.unmask("#saveConfig");
                layer.msg(data.msg);
            })

        })
    });
</script>


