<div class="row">
    <div class="colxl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-title-wrapper">
            <div class="page-title-box">
                <h4 class="page-title bold">SQL监控</h4>
            </div>
            <div class="breadcrumb-list">
                <ul>
                    <li class="breadcrumb-link"><a th:href="@{admin}"><i class="fas fa-home mr-2"></i>首页</a></li>
                    <li class="breadcrumb-link active">运维管理</li>
                    <li class="breadcrumb-link active">SQL监控</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Main content -->
<section class="content">
    <div>
        <!-- Main content -->
        <iframe style="width: 100%; min-height: 200px; overflow: visible; background: rgb(255, 255, 255); height: 567px;"
                name="dataIframe" th:src="@{/druid/index.html}"></iframe>
    </div>
</section>