<div class="bulletin-big mx-3 mx-md-0">
    <div id="bulletin_box" class="card my-2">
    <div class="card-body py-1 px-2 px-md-3 d-flex flex-fill text-xs text-muted">
        <div><i class="iconfont icon-bulletin" style="line-height:25px"></i></div>
        <div class="bulletin-swiper mx-1 mx-md-2 carousel-vertical">
            <div class="carousel slide" data-ride="carousel" data-interval="3000">
                <div class="carousel-inner" role="listbox">
                    <div th:each="notice,stat:${notices}" th:class="'carousel-item'+${stat.index==0? ' active' : ''}"><a class="overflowClip_1" th:href="${'/notice/'+notice?.id}" rel="bulletin">[[${notice?.title}]]([[${#dates.format(notice?.createTime, 'yyyy-MM-dd')}]])</a></div>
                </div>
            </div>
        </div>
        <div class="flex-fill"></div>
        <a title="关闭" href="javascript:;" rel="external nofollow" class="bulletin-close" onclick="$('#bulletin_box').slideUp('slow');"><i class="iconfont icon-close" style="line-height:25px"></i></a>
    </div>
</div>
</div>