<div th:fragment="bulletinbox(notices)">
<div id="bulletin_box"  class="panel">
    <div class="d-flex text-muted">
        <div><i class="fa fa-volume-up" style="line-height:25px"></i></div>
        <div class="bulletin mx-1 mx-md-2">
            <ul class="bulletin-ul">
                <li th:each="notice:${notices}" class="scrolltext-title overflowClip_1">
                    <a th:href="${'/notice/'+notice?.id}" rel="bulletin" >[[${notice?.title}]]</a> ([[${#dates.format(notice?.createTime, 'yyyy-MM-dd')}]])
                </li>
            </ul>
        </div>
        <a title="关闭" href="javascript:;" rel="external nofollow"  onClick="$('#bulletin_box').slideUp('slow');" style="margin-left:auto"><i class="fa fa-remove" style="line-height:25px"></i></a>
    </div>
</div>
<script>
    $(document).ready(function(){
        var ul = $(".bulletin-ul");
        var li = ul.children();
        if(li.length > 1){
            var liHight = $(li[0]).height();
            setInterval('AutoScroll(".bulletin",'+liHight+')',4000);
        }
    });
    function AutoScroll(obj,hight){
        $(obj).find("ul:first").animate({marginTop:"-"+hight+"px"},500,function(){
            $(this).css({marginTop:"0px"}).find("li:first").appendTo(this);
        });
    }
</script>
</div>
