<footer th:fragment="footer(SITE_CONFIG)" class="main-footer sticky footer-type-1">
    <div class="go-up">
        <a href="#" rel="go-top">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>
    <div class="footer-inner">
        <!---请保留版权说明，谢谢---->
        <div class="footer-text">
            Copyright © 2023
            <a href="about.html"><strong>[[${SITE_CONFIG.SITE_NAME}]]</strong></a> design by <strong>[[${SITE_CONFIG.SITE_PERSON_NAME}]]</strong></a>
        </div>
        <!---请保留版权说明，谢谢---->
    </div>
</footer>