<footer>
    <div id="footer-tools" class="d-flex flex-column">
        <a href="javascript:" id="go-to-up" class="btn rounded-circle go-up m-1" rel="go-top">
            <i class="iconfont icon-to-up"></i>
        </a>
        <a class="btn rounded-circle custom-tool0 m-1 qr-img" href="javascript:;" data-toggle="tooltip" data-html="true" data-placement="left" title="<img src='/favicon.ico' height='100' width='100'>">
            <i class="iconfont icon-wechat"></i>
        </a>
 <!--       <a class="btn rounded-circle custom-tool1 m-1" href="http://wpa.qq.com/msgrd?v=3&uin=1334512682&site=qq&menu=yes" target="_blank"  data-toggle="tooltip" data-placement="left" title="QQ" rel="external noopener nofollow">
        <i class="iconfont icon-qq"></i>
       </a>-->
        <a href="/bookmark" class="btn rounded-circle m-1 bookmark-home" data-toggle="tooltip" data-placement="left" title="mini 书签">
            <i class="iconfont icon-minipanel"></i>
        </a>
        <a href="javascript:" id="switch-mode" class="btn rounded-circle switch-dark-mode m-1" data-toggle="tooltip" data-placement="left" title="夜间模式">
            <i class="mode-ico iconfont icon-light"></i>
        </a>
    </div>
</footer>