<div class="overflow-x-auto hot-search-panel mb-3 pb-2" style="margin:0 -.5rem;padding:0 .5rem">
    <div class="row row-sm hot-search">
        <!--百度热点-->
        <div class="col col-md col-lg">
            <div class="card hot-card mb-0 rounded-xl">
                <div class="card-header widget-header d-flex align-items-center" style="background-color:transparent;border-bottom:0">
                    <span><img class="hot-ico" src="/web/images/hotspot/baidu.ico" alt="百度热点"><span class="title-1585282487">百度热点</span></span>
                    <span class="ml-auto d-none d-md-block text-xs slug-1585282487">指数</span>
                </div>
                <div class="card-body pb-3 pt-0">
                    <div class="overflow-auto hot-body">
                        <ul id="hot_news-baidu">
                            <li class="d-flex text-sm mb-2" th:each="hotnews,stat:${baiduHot}">
                                <div>
                                    <span th:class="${'hot-rank hot-rank-'+(stat.index+1)+' text-xs text-center'}">[[${stat.index+1}]]</span>
                                    <a class="ml-2" th:href="${hotnews?.link}" target="_blank" rel="external noopener nofollow">[[${hotnews?.title}]]</a>
                                </div>
                                <div class="ml-auto hot-heat d-none d-md-block text-muted">[[${hotnews?.index}]]</div>
                            </li>
                        </ul>
                    </div>
                    <div class="d-flex text-xs text-muted pt-2 mb-n2">
                        <a href="https://top.baidu.com/board" title="更多" target="_blank" style="color:#6c757d;">更多</a>
                        <div class="flex-fill"></div>
                        <span><a href="javascript:" id="hot-lod-baidu" title="刷新" style="color:#6c757d"><i class="iconfont icon-refresh text-md"></i></a></span>
                    </div>
                </div>
            </div>
            <div id="hot-loading-baidu" class="ajax-loading text-center rounded" style="position: absolute; display: none; width: 100%; left: 0px; top: 0px; bottom: 0px; background: rgba(125, 125, 125, 0.5);"><div id="hot-success-1585282487" class="col align-self-center"><i class="iconfont icon-loading icon-spin icon-2x"></i></div></div>
        </div>
        <!--掘金热榜-->
        <div class="col col-md col-lg">
            <div class="card hot-card mb-0 rounded-xl">
                <div class="card-header widget-header d-flex align-items-center" style="background-color:transparent;border-bottom:0">
                    <span><img class="hot-ico" src="/web/images/hotspot/juejin.ico" alt="掘金热榜"><span class="title-1582895292">掘金热榜</span></span>
                    <span class="ml-auto d-none d-md-block text-xs slug-1582895292">今日热榜</span>
                </div>
                <div class="card-body pb-3 pt-0">
                    <div class="overflow-auto hot-body">
                        <ul id="hot_news-jueJin">
                            <li class="d-flex text-sm mb-2" th:each="hotnews,stat:${jueJinHot}">
                                <div>
                                    <span th:class="${'hot-rank hot-rank-'+(stat.index+1)+' text-xs text-center'}">[[${stat.index+1}]]</span>
                                    <a class="ml-2" th:href="${hotnews?.link}" target="_blank" rel="external noopener nofollow">[[${hotnews?.title}]]</a>
                                </div>
                                <div class="ml-auto hot-heat d-none d-md-block text-muted">[[${hotnews?.index}]]</div>
                            </li>
                        </ul>
                    </div>
                    <div class="d-flex text-xs text-muted pt-2 mb-n2">
                        <a href="https://juejin.cn/hot/articles" target="_blank" title="更多" style="color:#6c757d; ">更多</a>
                        <div class="flex-fill"></div>
                        <span><a href="javascript:" id="hot-lod-juejin" title="刷新" style="color:#6c757d"><i class="iconfont icon-refresh text-md"></i></a></span>
                    </div>
                </div>
            </div>
            <div id="hot-loading-juejin" class="ajax-loading text-center rounded" style="position: absolute; display: none; width: 100%; left: 0px; top: 0px; bottom: 0px; background: rgba(125, 125, 125, 0.5);"><div id="hot-success-1582895292" class="col align-self-center"><i class="iconfont icon-loading icon-spin icon-2x"></i></div></div>
        </div>
        <!--CSDN热榜-->
        <div class="col col-md col-lg">
            <div class="card hot-card mb-0 rounded-xl">
                <div class="card-header widget-header d-flex align-items-center" style="background-color:transparent;border-bottom:0">
                    <span><img class="hot-ico" src="/web/images/hotspot/csdn.ico" alt="CSDN热榜"><span class="title-1468624874">CSDN热榜</span></span>
                    <span class="ml-auto d-none d-md-block text-xs slug-1468624874">热度榜</span>
                </div>
                <div class="card-body pb-3 pt-0">
                    <div class="overflow-auto hot-body">
                                 <ul id="hot_news-csdn">
                <li class="d-flex text-sm mb-2" th:each="hotnews,stat:${cSDNHot}">
                    <div>
                        <span th:class="${'hot-rank hot-rank-'+(stat.index+1)+' text-xs text-center'}">[[${stat.index+1}]]</span>
                        <a class="ml-2" th:href="${hotnews?.link}" target="_blank" rel="external noopener nofollow">[[${hotnews?.title}]]</a>
                    </div>
                    <div class="ml-auto hot-heat d-none d-md-block text-muted">[[${hotnews?.index}]]</div>
                </li>
            </ul>
                    </div>
                    <div class="d-flex text-xs text-muted pt-2 mb-n2">
                        <a href="https://blog.csdn.net/rank/list" target="_blank" title="更多" style="color:#6c757d; ">更多</a>
                        <div class="flex-fill"></div>
                        <span><a href="javascript:" id="hot-lod-csdn" title="刷新" style="color:#6c757d"><i class="iconfont icon-refresh text-md"></i></a></span>
                    </div>
                </div>
            </div>
            <div id="hot-loading-csdn" class="ajax-loading text-center rounded" style="position: absolute; display: none; width: 100%; left: 0px; top: 0px; bottom: 0px; background: rgba(125, 125, 125, 0.5);"><div id="hot-success-1468624874" class="col align-self-center"><i class="iconfont icon-loading icon-spin icon-2x"></i></div></div>
        </div>
        <!--抖音热榜-->
        <div class="col col-md col-lg">
            <div class="card hot-card mb-0 rounded-xl">
                <div class="card-header widget-header d-flex align-items-center" style="background-color:transparent;border-bottom:0">
                    <span><img class="hot-ico" src="https://lf1-cdn-tos.bytegoofy.com/goofy/ies/douyin_web/public/favicon.ico" alt="抖音热榜"><span class="title-21368735">抖音热榜</span></span>
                    <span class="ml-auto d-none d-md-block text-xs slug-21368735">热点榜</span>
                </div>
                <div class="card-body pb-3 pt-0">
                    <div class="overflow-auto hot-body">
                        <ul id="hot_news-douYin">
                            <li class="d-flex text-sm mb-2" th:each="hotnews,stat:${douYinHot}">
                                <div>
                                    <span th:class="${'hot-rank hot-rank-'+(stat.index+1)+' text-xs text-center'}">[[${stat.index+1}]]</span>
                                    <a class="ml-2" th:href="${hotnews?.link}" target="_blank" rel="external noopener nofollow">[[${hotnews?.title}]]</a>
                                </div>
                                <div class="ml-auto hot-heat d-none d-md-block text-muted">[[${hotnews?.index}]]</div>
                            </li>
                        </ul>
                    </div>
                    <div class="d-flex text-xs text-muted pt-2 mb-n2">
                        <a href="https://www.douyin.com/hot" target="_blank" title="更多" style="color:#6c757d; ">更多</a>
                        <div class="flex-fill"></div>
                        <span><a href="javascript:" id="hot-lod-douyin" title="刷新" style="color:#6c757d"><i class="iconfont icon-refresh text-md"></i></a></span>
                    </div>
                </div>
            </div>
            <div id="hot-loading-douyin" class="ajax-loading text-center rounded" style="position: absolute; display: none; width: 100%; left: 0px; top: 0px; bottom: 0px; background: rgba(125, 125, 125, 0.5);"><div id="hot-success-21368735" class="col align-self-center"><i class="iconfont icon-loading icon-spin icon-2x"></i></div></div>
        </div>
        <!--新浪热榜-->
        <div class="col col-md col-lg">
            <div class="card hot-card mb-0 rounded-xl">
                <div class="card-header widget-header d-flex align-items-center" style="background-color:transparent;border-bottom:0">
                    <span><img class="hot-ico" src="/web/images/hotspot/weibo.ico" alt="微博热搜榜"><span class="title-406632494">微博</span></span>
                    <span class="ml-auto d-none d-md-block text-xs slug-406632494">热搜榜</span>
                </div>
                <div class="card-body pb-3 pt-0">
                    <div class="overflow-auto hot-body">
                        <ul id="hot_news-weibo">
                            <li class="d-flex text-sm mb-2" th:each="hotnews,stat:${weiboHot}">
                                <div>
                                    <span th:class="${'hot-rank hot-rank-'+(stat.index+1)+' text-xs text-center'}">[[${stat.index+1}]]</span>
                                    <a class="ml-2" th:href="${hotnews?.link}" target="_blank" rel="external noopener nofollow">[[${hotnews?.title}]]</a>
                                </div>
                                <div class="ml-auto hot-heat d-none d-md-block text-muted">[[${hotnews?.index}]]</div>
                            </li>
                        </ul>
                    </div>
                    <div class="d-flex text-xs text-muted pt-2 mb-n2">
                        <a href="https://weibo.com/newlogin?tabtype=search&gid=&openLoginLayer=0&url=" target="_blank" title="更多" style="color:#6c757d; ">更多</a>
                        <div class="flex-fill"></div>
                        <span><a href="javascript:" id="hot-lod-weibo" title="刷新" style="color:#6c757d"><i class="iconfont icon-refresh text-md"></i></a></span>
                    </div>
                </div>
            </div>
            <div id="hot-loading-weibo" class="ajax-loading text-center rounded" style="position: absolute; display: none; width: 100%; left: 0px; top: 0px; bottom: 0px; background: rgba(125, 125, 125, 0.5);"><div id="hot-success-406632494" class="col align-self-center"><i class="iconfont icon-loading icon-spin icon-2x"></i></div></div>
        </div>
        <style>@media screen and (max-width: 1199.98px){.hot-search {min-width: 1500px;}}</style>
    </div>
</div>