<div class="overflow-x-auto hot-search-panel mb-3 pb-2" style="margin:0 -.5rem;padding:0 .5rem">
    <div class="row row-sm hot-search">
        <!--百度热点-->
        <div class="col col-md col-lg">
            <div class="card hot-card mb-0 rounded-xl">
                <div class="card-header widget-header d-flex align-items-center" style="background-color:transparent;border-bottom:0">
                    <span><img class="hot-ico" src="/web/images/hotspot/baidu.ico" alt="百度热点"><span class="title-baidu">百度热点</span></span>
                    <span class="ml-auto d-none d-md-block text-xs slug-baidu">指数</span>
                </div>
                <div class="card-body pb-3 pt-0">
                    <div class="overflow-auto hot-body">
                        <ul id="hot_news-baidu">
                        </ul>
                    </div>
                    <div class="d-flex text-xs text-muted pt-2 mb-n2">
                        <a href="https://top.baidu.com/board" title="更多" target="_blank" style="color:#6c757d;">更多</a>
                        <div class="flex-fill"></div>
                        <span><a href="javascript:" id="hot-lod-baidu" title="刷新" style="color:#6c757d"><i class="iconfont icon-refresh text-md"></i></a></span>
                    </div>
                </div>
            </div>
            <div id="hot-loading-baidu" class="ajax-loading text-center rounded" style="position: absolute; display: flex; width: 100%; left: 0px; top: 0px; bottom: 0px; background: rgba(125, 125, 125, 0.5);"><div id="hot-success-baidu" class="col align-self-center"><i class="iconfont icon-loading icon-spin icon-2x"></i></div></div>
        </div>
        <!--掘金热榜-->
        <div class="col col-md col-lg">
            <div class="card hot-card mb-0 rounded-xl">
                <div class="card-header widget-header d-flex align-items-center" style="background-color:transparent;border-bottom:0">
                    <span><img class="hot-ico" src="/web/images/hotspot/juejin.ico" alt="掘金热榜"><span class="title-juejin">掘金热榜</span></span>
                    <span class="ml-auto d-none d-md-block text-xs slug-juejin">今日热榜</span>
                </div>
                <div class="card-body pb-3 pt-0">
                    <div class="overflow-auto hot-body">
                        <ul id="hot_news-juejin">
                        </ul>
                    </div>
                    <div class="d-flex text-xs text-muted pt-2 mb-n2">
                        <a href="https://juejin.cn/hot/articles" target="_blank" title="更多" style="color:#6c757d; ">更多</a>
                        <div class="flex-fill"></div>
                        <span><a href="javascript:" id="hot-lod-juejin" title="刷新" style="color:#6c757d"><i class="iconfont icon-refresh text-md"></i></a></span>
                    </div>
                </div>
            </div>
            <div id="hot-loading-juejin" class="ajax-loading text-center rounded" style="position: absolute; display: flex; width: 100%; left: 0px; top: 0px; bottom: 0px; background: rgba(125, 125, 125, 0.5);"><div id="hot-success-juejin" class="col align-self-center"><i class="iconfont icon-loading icon-spin icon-2x"></i></div></div>
        </div>
       <!--CSDN热榜-->
       <div class="col col-md col-lg">
        <div class="card hot-card mb-0 rounded-xl">
            <div class="card-header widget-header d-flex align-items-center" style="background-color:transparent;border-bottom:0">
                <span><img class="hot-ico" src="/web/images/hotspot/csdn.ico" alt="CSDN热榜"><span class="title-csdn">CSDN热榜</span></span>
                <span class="ml-auto d-none d-md-block text-xs slug-csdn">热度榜</span>
            </div>
            <div class="card-body pb-3 pt-0">
                <div class="overflow-auto hot-body">
                    <ul id="hot_news-csdn">
                    </ul>
                </div>
                <div class="d-flex text-xs text-muted pt-2 mb-n2">
                    <a href="https://blog.csdn.net/rank/list" target="_blank" title="更多" style="color:#6c757d; ">更多</a>
                    <div class="flex-fill"></div>
                    <span><a href="javascript:" id="hot-lod-csdn" title="刷新" style="color:#6c757d"><i class="iconfont icon-refresh text-md"></i></a></span>
                </div>
            </div>
        </div>
            <div id="hot-loading-csdn" class="ajax-loading text-center rounded" style="position: absolute; display: flex; width: 100%; left: 0px; top: 0px; bottom: 0px; background: rgba(125, 125, 125, 0.5);"><div id="hot-success-csdn" class="col align-self-center"><i class="iconfont icon-loading icon-spin icon-2x"></i></div></div>
      </div>
        <!--抖音热榜-->
        <div class="col col-md col-lg">
            <div class="card hot-card mb-0 rounded-xl">
                <div class="card-header widget-header d-flex align-items-center" style="background-color:transparent;border-bottom:0">
                    <span><img class="hot-ico" src="https://lf1-cdn-tos.bytegoofy.com/goofy/ies/douyin_web/public/favicon.ico" alt="抖音热榜"><span class="title-douyin">抖音热榜</span></span>
                    <span class="ml-auto d-none d-md-block text-xs slug-douyin">热点榜</span>
                </div>
                <div class="card-body pb-3 pt-0">
                    <div class="overflow-auto hot-body">
                        <ul id="hot_news-douyin">
                        </ul>
                    </div>
                    <div class="d-flex text-xs text-muted pt-2 mb-n2">
                        <a href="https://www.douyin.com/hot" target="_blank" title="更多" style="color:#6c757d; ">更多</a>
                        <div class="flex-fill"></div>
                        <span><a href="javascript:" id="hot-lod-douyin" title="刷新" style="color:#6c757d"><i class="iconfont icon-refresh text-md"></i></a></span>
                    </div>
                </div>
            </div>
            <div id="hot-loading-douyin" class="ajax-loading text-center rounded" style="position: absolute; display: flex; width: 100%; left: 0px; top: 0px; bottom: 0px; background: rgba(125, 125, 125, 0.5);"><div id="hot-success-douyin" class="col align-self-center"><i class="iconfont icon-loading icon-spin icon-2x"></i></div></div>
        </div>
        <!--新浪热榜-->
        <div class="col col-md col-lg">
            <div class="card hot-card mb-0 rounded-xl">
                <div class="card-header widget-header d-flex align-items-center" style="background-color:transparent;border-bottom:0">
                    <span><img class="hot-ico" src="/web/images/hotspot/weibo.ico" alt="微博热搜榜"><span class="title-weibo">微博</span></span>
                    <span class="ml-auto d-none d-md-block text-xs slug-weibo">热搜榜</span>
                </div>
                <div class="card-body pb-3 pt-0">
                    <div class="overflow-auto hot-body">
                        <ul id="hot_news-weibo">
                        </ul>
                    </div>
                    <div class="d-flex text-xs text-muted pt-2 mb-n2">
                        <a href="https://weibo.com/newlogin?tabtype=search&gid=&openLoginLayer=0&url=" target="_blank" title="更多" style="color:#6c757d; ">更多</a>
                        <div class="flex-fill"></div>
                        <span><a href="javascript:" id="hot-lod-weibo" title="刷新" style="color:#6c757d"><i class="iconfont icon-refresh text-md"></i></a></span>
                    </div>
                </div>
            </div>
            <div id="hot-loading-weibo" class="ajax-loading text-center rounded" style="position: absolute; display: flex; width: 100%; left: 0px; top: 0px; bottom: 0px; background: rgba(125, 125, 125, 0.5);"><div id="hot-success-weibo" class="col align-self-center"><i class="iconfont icon-loading icon-spin icon-2x"></i></div></div>
        </div>
        <style>@media screen and (max-width: 1199.98px){.hot-search {min-width: 1500px;}}</style>
    </div>
<script>
        getList("baidu");
        getList("csdn");
        getList("juejin");
        getList("douyin");
        getList("weibo");
        $('#hot-lod-baidu').on('click', function() {
            refresh("baidu");
        });
        $('#hot-lod-csdn').on('click', function() {
            refresh("csdn");
        });
        $('#hot-lod-juejin').on('click', function() {
            refresh("juejin");
        });
        $('#hot-lod-douyin').on('click', function() {
            refresh("douyin");
        });
        $('#hot-lod-weibo').on('click', function() {
            refresh("weibo");
        });
        function refresh(type){
            $(this).children('i').addClass('icon-spin');
            $("#hot-success-"+type).html('<i class="iconfont icon-loading icon-spin icon-2x"></i>');
            $("#hot-loading-"+type).fadeIn(200);
            getList(type);
        }

        function getList(type){
            $.get("/hotSpot/"+type, {},function(response){
                const data = response.data;
                hotspot(type,data);
            }).fail(function () {
                getError(type);
            });
        }
        function hotspot(type,data){
            let html = '';
            //  $('.title-'+type).text(response.title);
            //  $('.slug-'+type).text(response.subtitle);
            for(let i=0; i<data.length; i++) {
                html += '<li class="d-flex text-sm mb-2"><div><span class="hot-rank hot-rank-'+ (i+1)+' text-xs text-center">'+ (i+1)+'</span><a class="ml-2" href="'+data[i]['link']+'" target="_blank" rel="external noopener nofollow">'+data[i]['title']+'</a></div><div class="ml-auto hot-heat d-none d-md-block text-muted">'+data[i]['index']+'</div></li>';
            }
            $('#hot-loading-'+type).fadeOut(200);
            $('#hot-lod-'+type).children('i').removeClass('icon-spin');
            $('#hot_news-'+type).html(html);
        }
        function getError(type){
            $('#hot-lod-'+type).children('i').removeClass('icon-spin');
            $('#hot-success-'+type).show(200).html('获取失败，请再试一次！').parent().delay(3500).fadeOut(200);
        }
</script>
</div>
