<div id='io-popup-tips' class="io-bomb" data-date='1'>
    <div class="io-bomb-overlay"></div>
    <div class="io-bomb-body" style="max-width:680px">
        <div class="io-bomb-content io-popup-tips-content rounded m-3 p-4 p-md-5 bg-white">
            <h3 class="mb-4 pb-md-2 text-center">泰山导航</h3>
            <div>
                胸有文墨怀若谷，腹有诗书气自华。
            <a href="//tarzan.blog.csdn.net" target="_blank" rel="noopener">
                <img class="my-3" src="/web/images/tarzan-nav.jpg" alt="泰山导航" />
            </a>
            泰山博客:<a href="//tarzan.blog.csdn.net">https://tarzan.blog.csdn.net</a>，关注我的技术博客，学习更多技术知识。
            <div class="mt-4 mb-n2 mb-md-n4 text-xs text-muted text-center">tarzan-nav</div>
        </div>
        </div>
        <div class="btn-close-bomb mt-2 text-center">
            <i class="iconfont popup-close icon-close-circle"></i>
        </div>
    </div>
    <script>
        var cookieValue='1';
        var exdays = 1;
        $(document).ready(function(){
            if(getCookie('io_popup_tips')!=cookieValue)                    setTimeout(function(){
                $('#io-popup-tips').addClass('io-bomb-open');
            },1000);
        });
        $(document).on('click','.popup-close',function(ev) {
            $('#io-popup-tips').removeClass('io-bomb-open').addClass('io-bomb-close');
            setCookie("io_popup_tips",cookieValue,exdays);
            setTimeout(function(){
                $('#io-popup-tips').remove();
            },600);
        });
    </script>
</div>