<websites th:fragment="websites(categories)">
    <th:block th:each="category: ${categories}">
        <th:block th:if="${#lists.isEmpty(category?.children)}" >
            <div class="d-flex flex-fill align-items-center mb-4">
                <h4 class="text-gray text-lg m-0"><i th:class="'site-tag '+${category?.icon}+' icon-lg mr-1'" th:id="${'term-'+category?.id}"></i>[[${category?.name}]]</h4>
                <div class="flex-fill"></div>
                <!--  <a class='btn-move text-xs' href=''>more+</a>-->
            </div>
            <div class="row io-mx-n2">
                <div th:class="'url-card io-px-2  ' +${stat.index==0&&stat.size%2!=0?'col-1a col-sm-1a col-md-1a col-lg-1a':'col-2a col-sm-2a col-md-2a col-lg-2a'}+ ' col-xl-4a col-xxl-5a'"  th:each="website,stat:${category?.websites}">
                    <div class="url-body default ">
                        <a th:href="${'/site/'+website?.id}" target="_blank"   th:data-id="${website?.id}" th:data-url="${website?.url}" th:class="${'card no-c  mb-4 site-'+website?.id}" data-toggle="tooltip" data-placement="bottom"  th:title="${website?.description}">
                            <div class="card-body url-content d-flex align-items-center">
                                <div class="url-img rounded-circle mr-2 d-flex align-items-center justify-content-center">
                                    <img class=" lazy unfancybox" th:src="${website?.img?.base64}" th:data-src="${website?.img?.base64}"  height="auto" width="auto"  th:alt="${website?.name}">
                                </div>
                                <div class="url-info flex-fill">
                                    <div class="text-sm overflowClip_1">
                                        <span th:if="${website?.flag!=null}" class="badge vc-red text-ss mr-1" th:title="${website?.flag}">[[${website?.flag}]]</span>
                                        <strong>[[${website?.name}]]</strong>
                                    </div>
                                    <p class="overflowClip_1 m-0 text-muted text-xs">[[${website?.description}]]</p>
                                </div>
                            </div>
                        </a>
                        <a th:href="${website?.url}" target="_blank" rel="external nofollow" title="直达" class="togo text-center text-muted is-views" data-id="388" data-toggle="tooltip" data-placement="right"><i class="iconfont icon-goto icon-lg"></i></a>
                    </div>
                </div>
            </div>
        </th:block>
        <th:block th:unless="${#lists.isEmpty(category?.children)}" >
            <h4 class="text-gray text-lg"><i th:class="'site-tag '+${category?.icon}+' icon-lg mr-1'" id="term-8"></i>[[${category?.name}]]</h4>
            <!-- tab模式菜单 -->
            <div class="d-flex flex-fill flex-tab align-items-center">
                <div class='slider_menu mini_tab ajax-list-home' sliderTab="sliderTab" th:data-id="${category?.id}">
                    <ul class="nav nav-pills tab-auto-scrollbar menu overflow-x-auto" role="tablist">
                        <li th:each="cate,stat:${category?.children}" class="pagenumber nav-item" data-sidebar="1" data-post_id="0" data-action="load_home_tab" data-taxonomy="favorites" th:data-id="${cate?.id}">
                            <a th:id="${'term-'+category?.id+'-'+cate?.id}" th:class="'nav-link tab-noajax '+${stat.index==0? ' active' : ''}+' load'" data-toggle="pill" th:href="${'#tab-'+category?.id+'-'+cate?.id}" th:data-link="${cate?.name}">[[${cate?.name}]]</a>
                        </li>
                    </ul>
                </div>
                <div class="flex-fill"></div>
           <!--     <a class='btn-move tab-move text-xs ml-2' href=''>more+</a>-->
            </div>
            <!-- tab模式菜单 end -->
            <div class="tab-content mt-4">
                <!-- 网站-->
                <div th:if="${cate?.type==1}"  th:each="cate,stat:${category?.children}"  th:id="${'tab-'+category?.id+'-'+cate?.id}" th:class="'tab-pane'+${stat.index==0? ' active' : ''}">
                            <div class="row io-mx-n2 mt-4 ajax-list-body position-relative">
                                <div th:class="'url-card io-px-2  ' +${stat.index==0&&stat.size%2!=0?'col-1a col-sm-1a col-md-1a col-lg-1a':'col-2a col-sm-2a col-md-2a col-lg-2a'}+ ' col-xl-4a col-xxl-5a'"  th:each="website,stat:${cate?.websites}">
                                    <div class="url-body default ">
                                        <a th:href="${'/site/'+website?.id}"  target="_blank"  th:data-id="${website?.id}" th:data-url="${website?.url}" th:class="${'card no-c  mb-4 site-'+website?.id}" data-toggle="tooltip" data-placement="bottom"  th:title="${website?.description}">
                                            <div class="card-body url-content d-flex align-items-center">
                                                <div class="url-img rounded-circle mr-2 d-flex align-items-center justify-content-center">
                                                    <img class=" lazy unfancybox" th:src="${website?.img?.base64}" th:data-src="${website?.img?.base64}"  height="auto" width="auto"  th:alt="${website?.name}">
                                                </div>
                                                <div class="url-info flex-fill">
                                                    <div class="text-sm overflowClip_1">
                                                        <span th:if="${website?.flag!=null}" class="badge vc-red text-ss mr-1" th:title="${website?.flag}">[[${website?.flag}]]</span>
                                                        <strong>[[${website?.name}]]</strong>
                                                    </div>
                                                    <p class="overflowClip_1 m-0 text-muted text-xs">[[${website?.description}]]</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a th:href="${website?.url}" target="_blank" rel="external nofollow" title="直达" class="togo text-center text-muted is-views" th:data-id="${website?.id}" data-toggle="tooltip" data-placement="right"><i class="iconfont icon-goto icon-lg"></i></a>
                                    </div>
                                </div>
                            <div>
                        </div>
                    </div>
                </div>
                <!-- 文章-->
                <div th:if="${cate?.type==2}"  th:each="cate,stat:${category?.children}"  th:id="${'tab-'+category?.id+'-'+cate?.id}" th:class="'tab-pane'+${stat.index==0? ' active' : ''}">
                    <div class="row io-mx-n2 mt-4 ajax-list-body position-relative">
                        <div class="io-px-2 col-12 col-sm-6 col-lg-4 col-xxl-3"  th:each="website,stat:${cate?.websites}">
                            <div class="card flex-fill mb-3">
                                <div class="row no-gutters">
                                    <div class="col-4">
                                        <div class="media media-4x3 rounded-left">
                                            <a class="media-content" th:href="${'/site/'+website?.id}" th:style="'background-image: url('+${website?.img?.base64}+');'" target="_blank"></a>
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <div class="card-body list-content p-2" style="height: 100%;">
                                            <div class="list-body">
                                                <a class="list-title no-c overflowClip_2" th:href="${'/site/'+website?.id}" target="_blank" th:title="${website?.name}">
                                                    <span th:if="${website?.flag!=null}" class="badge vc-red text-ss mr-1" th:title="${website?.flag}">[[${website?.flag}]]</span>[[${website?.name}]]</a>
                                            </div>
                                            <div>
                                                <div class="d-flex flex-fill align-items-center text-muted text-xs">
                                                   <span><i class="iconfont icon-classification"></i> <a class="no-c" th:href="${'/site/'+website?.id}" target="_blank">CSDN</a> </span>
                                                    <div class="flex-fill"></div>
                                                    <div>
                                                        <time class="mx-1">[[${#dates.format(website?.createTime, 'yyyy-MM-dd')}]]</time>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </th:block>
</websites>